.InputListForm {
  width: 19rem;
  min-height: 5rem;
  background: #f5e5f7;
}
.list-details {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-left: -4rem;
}
.InputListForm div span {
  min-height: 2rem;
  border: 2px solid purple;
  padding: 2px 2px 2px 2px;
  margin: 15px;
  text-align: -webkit-center;
  width: 90%;
  padding-top: 0.5rem;
}
.InputListForm div {
  display: flex;
  flex-direction: column;
}
