.body {
  background-color: bisque;
}
.btn-price {
  background-color: darkcyan;
  color: beige;
}
.items {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #8aba8a80;
  padding: 15px 15px 15px 12px;
  margin: 10px 100px 15px 60px;
}
.data {
  margin-right: 0.5rem;
}
.btn-delete {
  margin-left: 0.2rem;
  background-color: #8000009e;
  color: white;
  cursor: pointer;
}
