.parentItemMenu {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 5px;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  border: none;
  animation: fade-in 2s ease-in-out;
  animation-range-start: view(250px);
}
@keyframes fade-in {
  from {
    opacity: 0;
    border: none;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    border: none;
    transform: translateX(0);
  }
}
.container {
  background-image: url("../../../assets/RestImage2.png");
  width: 100%;
}
.menus {
  display: flex;
  flex-wrap: wrap;
  width: 111%;
  border: none;
  position: relative;
}
.parentItemMenu h2,
.parentItemMenu p {
  padding: 4px;
  margin: -4px 2px -2px 0px;
  background: #3f3a37;
  color: #f5deb369;
  border: none;
}
.parentItemMenu img {
  height: 12rem;
  width: 99%;
  object-fit: cover;
  position: relative;
}
.addToCart {
  margin-top: -0.2rem;
  background: #3f3a37ba;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.addToCart button {
  height: 2rem;
  background: #ff0000;
  width: 7rem;
  color: white;
  border: none;
  box-shadow: 0 0 4px rgb(192 52 52);
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
}
.addToCart span input {
  width: 2rem;
  text-align: center;
}
.addToCart span {
  background: white;
  padding: 0.3rem;
}
.addToCart span label {
  font-weight: bold;
  margin: 0.3rem;
  box-shadow: 0 0 4px rgb(254 246 254);
}
