.title {
  display: flex;
}
.body {
  background-color: bisque;
}
.btn-price {
  background-color: darkcyan;
  color: beige;
}
.items {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #8aba8a80;
  padding: 3px 5px 3px 3px;
}
.data {
  margin-right: 0.5rem;
}
