.moviesDetails {
  width: 30rem;
  margin: auto;
  background: #7777772e;
  padding: 0.8rem;
  position: relative;
  right: 1rem;
  top: -4rem;
  height: 28rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.moviesDetails span {
  margin: 1rem;
  display: inline-grid;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid brown;
}
.btn {
  margin: 2rem;
}
.listHeading {
  position: absolute;
  justify-content: center;
  height: 2rem;
  display: flex;
  background: #f0ffff63;
  align-items: center;
  left: 10rem;
  width: 29%;
}
.parentDivOflists {
  display: flex;
}
.nodata {
  display: flex;
  margin: auto;
  position: relative;
  top: 8rem;
  justify-content: center;
}
form {
  margin: 1rem;
}
form span {
  margin: 1.5rem;
}
form span label {
  margin: 0.5rem;
}
.removeBtnDiv {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0.4rem;
}
